fastapi[standard]
pydantic_settings
fastapi_cognito
uvicorn
pandas
requests
pdfplumber
git+https://github.com/wx-middle/inewave.git
git+https://github.com/wx-middle/libs-middle.git
matplotlib
openpyxl
pdf2image